<h1>Naturspielgruppe Tribschenhorn Luzern - Pädagogische Gruppenleitung</h1>
<h2>Evamaria Felder</h2>

<img src="assets/evamaria_felder.jpg" alt="Portrait Evamaria Felder" />

<p>Ich bin diplomierte Montessori Pädagogin (3-6) und Berufsmusikerin.</p>
<p>
  Seit mehreren Jahren gebe ich Kinderkonzerte und spiele im Sommer im
  Petruschka Puppentheater Theater mit, wo ich auch die musikalische Leitung
  innehabe. Ich bin in diversen Kammermusik Gruppen und Künstler-Kollektiven
  tätig, womit ich regelmässig Konzerte und Aufführungen spiele und meine
  eigenen Projekte realisiere. Ausserdem bin ich diplomierte Mentaltrainerin und
  Musikphysiologin und gebe Workshops für Jugendliche und Erwachsene zum Thema
  Auftritts-Kompetenzen.
</p>
<p>
  In meiner Freizeit bin ich meistens in unserem Garten in Brugg oder in der
  Natur anzutreffen. Ich esse und koche sehr gerne und liebe es ins Konzert oder
  Theater zu gehen.
</p>
<p>
  An der Arbeit mit Kindern fasziniert mich ihre Kreativität und ihre Lust das
  Leben zu entdecken. Dabei liegt es mir besonders am Herzen eine Umgebung zu
  schaffen, in der sich das Kind frei entwickeln und seinen ganz eigenen Weg
  gehen kann.
</p>

<h3>Ausbildungen / Berufliche Tätigkeiten / Erfahrungsbereiche</h3>
<table>
  <tr>
    <th scope="row">Seit 2023</th>
    <td>
      Naturspielgruppe Tribschenhorn<br />
      Pädagogische Gruppenleitung
    </td>
  </tr>
  <tr>
    <th scope="row">2022</th>
    <td>
      Dipl. Montessori Pädagogin, Kinderhaus 3-6 Jahre<br />
      Montessori Akademie Wien
    </td>
  </tr>
  <tr>
    <th scope="row">2022</th>
    <td>
      Magister, Konzertfachstudium Querflöte<br />
      Universität für Musik und darstellende Kunst Wien
    </td>
  </tr>
  <tr>
    <th scope="row">2022</th>
    <td>
      Lu Jong 5 Elemente Praktikerin<br />
      Ausbildung bei Eva Furrer, Lu Jong International
    </td>
  </tr>
  <tr>
    <th scope="row">Seit 2021</th>
    <td>
      Schlosswochen Luzern<br />
      Arbeit als Pädagogin
    </td>
  </tr>
  <tr>
    <th scope="row">Seit 2021</th>
    <td>
      Duo merula<br />
      Schwerpunkt auf Musikvermittlungs-Konzerte
    </td>
  </tr>
  <tr>
    <th scope="row">Seit 2021</th>
    <td>
      Mentaltrainerin / Musikphysiologin<br />
      Workshops und Kurse
    </td>
  </tr>
  <tr>
    <th scope="row">2021</th>
    <td>
      Dipl. Mentaltrainerin<br />
      Vitalakademie Wien
    </td>
  </tr>
  <tr>
    <th scope="row">2018</th>
    <td>
      Bachelor of Arts in Music<br />
      Hochschule Luzern, Musik
    </td>
  </tr>
  <tr>
    <th scope="row">2016-2018</th>
    <td>
      Internatsleitung und Tagesschulbetreuung<br />
      Gymnasium St. Klemens, Ebikon
    </td>
  </tr>
  <tr>
    <th scope="row">Seit 2017</th>
    <td>
      Petruschka Puppentheater<br />
      Musikalische Leitung, Schauspiel
    </td>
  </tr>
  <tr>
    <th scope="row">Seit 2016</th>
    <td>
      TaTa Theater<br />
      Musik-Theater-Improvisations Kollektiv
    </td>
  </tr>
  <tr>
    <th scope="row">Seit 2015</th>
    <td>
      Trio Re:<br />
      Kammermusik Trio mit innovativen Projekten<br />
      Darunter jährlich ein Kinderkonzert
    </td>
  </tr>
  <tr>
    <th scope="row">2014</th>
    <td>
      Eidgenössische Matura<br />
      Gymnasium Plus, Kantonsschule Schüpfheim
    </td>
  </tr>
  <tr></tr>
</table>
