<div class="container">
  <app-swiper></app-swiper>
  <h1>Naturspielgruppe Tribschenhorn Luzern</h1>
  <p>
    Spielend handeln, natürlich lernen und gemeinsam Spass haben ist unser
    Ziel.<br />
    Es ist uns ein Anliegen, dass die Kinder sich in einer kleinen, gut
    überschaubaren Gruppe entwickeln können und dabei optimal auf den
    Kindergarten vorbereitet werden. Gemeinsam halten wir uns in der
    einzigartigen Natur bei der Anhöhe Wartegg/Tribschenhorn, sowie im
    bezaubernden Innenraum auf. Die Kinder haben die Möglichkeit, in einer
    wundervollen Umgebung zu spielen, die Natur zu erfahren und sich kreativ
    gestalterisch auszuleben.
  </p>
  <p>
    <a routerLink="info">Weitere Infos zur Naturspielgruppe Tribschenhorn Luzern</a>
  </p>
  <p>
    <a href="../assets/Konzept_Fruehe_Sprachfoerderung_Spielgruppe_Tribschenhorn_Luzern.pdf"
      alt="Konzept Frühe Sprachförderung Paper">Konzept Frühe Sprachförderung Spielgruppe Tribschenhorn, Luzern</a>
  </p>
  <h2>Für:</h2>
  <p>Kinder zwischen 3 - 5 Jahren.</p>
  <h2>Tage:</h2>
  <p>Montag / Dienstag</p>
  <p><b>Neu:</b> Ab dem Herbstsemester 2024 <i>(Start am 27./28. August)</i><br /><b> Dienstag / Mittwoch</b> <i>
      (Jeweils am Morgen)</i></p>
  <p><i>
      Hinweis: wenn ein Kind beide Tage der Spielgruppe besucht, besteht die
      Möglichkeit, finanzielle Unterstützung von der Stadt Luzern zu bekommen.
      Das Antragsformular befindet sich auf
      <a href="../assets/SPG_Antragsformular_Elternbeitrage.pdf" alt="Unterstützungsformular Stadt Luzern">unserer
        Website</a>
      oder
      <a href="https://www.stadtluzern.ch/dienstleistungeninformation/79" alt="Unterstützugsformular Link direkt">bei
        der Stadt.</a>
    </i></p>
  <h2>Zeit:</h2>
  <p>8:30 Uhr - 11:30 Uhr.</p>
  <h2>Ort:</h2>
  <p>Rund um den <a [routerLink]="'/ort'">Pavillon Tribschenhorn Luzern</a>.</p>
  <h2>Leitung:</h2>
  <p>
    <a routerLink="leitung">Natalie Wieland-Hofer</a>, Hauptleitung<br />
    <a routerLink="leitungEvamaria">Evamaria Felder</a> Pädagogische Gruppenleitung / Administration
  </p>
  <h2>Preis:</h2>
  <p>660.- für ein Semester für einen Vormittag<br />
    1280.- (Mit Rabatt) für zwei Vormittage pro Woche pro Semester</p>
  <h2>Anmeldung:</h2>
  <p>
    @if(semesterstart){
    <span>Das {{ semestername }} startet am {{ semesterstart }}.</span>
    }
  </p>
  <p>
    Die Kinder können laufend angemeldet werden. Es gibt auch eine Warteliste.
    Nach Anfrage teilen wir Ihnen gerne mit, ob es noch freie Plätze gibt. Bitte melden Sie sich bei Evamaria Felder: <a href="mailto:post@evamariafelder.ch">post&#64;evamariafelder.ch</a> oder <a href="tel:+41782294338">078 229 43 38</a>
  </p>
  <p>
    Das
    <a href="../assets/Anmeldeformular_Naturspielgruppe.pdf" target="_blank">Anmeldeformular für die Naturspielgruppe
      Tribschenhorn Luzern finden Sie
      hier</a>.
  </p>
  <h2>Wichtige Angaben:</h2>
  <p>
    Hier finden Sie die
    <a href="../assets/AGB_Naturspielgruppe.pdf" target="_blank">die wichtigen Angaben (AGBs) der Naturspielgruppe
      Tribschenhorn
      Luzern.</a>
  </p>
  <h2>Newsletter:</h2>
  Für den
  <a routerLink="/newsletter">Newsletter der Naturspielgruppe Tribschenhorn Luzern können Sie sich
    hier</a>
  eintragen.
  <app-contact-form></app-contact-form>
</div>