@import '../../../../assets/library';

.contactform {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  @media only screen and (max-width: 575px) {
      grid-template-columns: auto 1fr;
  }
  grid-auto-flow: row dense;
  grid-gap: .8em;
  font-family: "Alegreya", minion-pro, serif !important;
  font-style: normal;
  font-weight: 400;
  background: $vert-jaune-clair;
  color: $terre-ombre-brule;
  font-size: 1em;
  grid-row: span 3;
  padding: 1.2em;
  & > label {
    padding-top: 3px;
    grid-column: 1;
    grid-row: auto;
  }
  textarea {
    min-height: calc(100% - 2em);
    width: 100%;
    border: none;
    font-family: "Alegreya", minion-pro, serif !important;
    font-size: large;
    padding: 0.5em;
    box-sizing: border-box;
  }
  & > button {
    grid-column: 2 / 4;
    @media only screen and (max-width: 575px) {
      grid-column: 2 / 3;
    }
  }
}
.contactform > input{
  grid-column: 2;
  grid-row: auto;
  border: none;
  padding: 0.5em;
  font-family: "Alegreya", minion-pro, serif !important;
  font-size: large;
}

.contactform > button {
  grid-column: 2 / 3;
  grid-row: span 3;
  color: $blanc;
  background-color: $rouge-rubia;
  font-family: "Alegreya", minion-pro, serif !important;
  font-size: 1em;
  border: none;
  @media only screen and (max-width: 575px) {
    grid-column: 2;
    grid-row: auto;
    grid-column: 1 / 3;
    grid-row: span 3;
  }
}
#comment-box {
  grid-column: 3;
  grid-row: span 3;

  @media only screen and (max-width: 575px) {
    grid-column: 1 / 3;
    grid-row: span 3;
  }
}
