<div class="container">
  <h3>Kontaktaufnahme:</h3>
  <form
    name="contact-form"
    class="contact-form contactform"
    method="post"
    data-netlify="true"
  >
    <input type="hidden" name="form-name" value="contact-form" />
    <label for="customer_name">Name </label>
    <input
      type="text"
      name="customer_name"
      id="customer_name"
      class="input"
      required
    />
    <label for="email_address">e-Mail </label>
    <input
      type="email"
      name="email_address"
      id="email_address"
      class="input"
      required
    />
    <label for="phone">Telefon </label>
    <input type="tel" name="phone" id="phone" class="input" />
    <div id="comment-box">
      <label for="comments">Nachricht</label>
      <textarea
        name="comments"
        id="comments"
        maxlength="500"
        class="textarea"
      ></textarea>
    </div>
    <button type="submit">Senden</button>
  </form>
</div>
