<h1>Naturspielgruppe Tribschenhorn Luzern - Newsletter</h1>
<div class="container">
  <h3>Newsletter:</h3>
  <form
    name="subscribe"
    class="contact-form contactform"
    method="post"
    action="/success"
    data-netlify="true"
  >
    <input type="hidden" name="form-name" value="subscribe" />
    <label for="first_name">Vorname </label>
    <input
      type="text"
      name="first_name"
      id="first_name"
      class="input"
      required
    />
    <label for="last_name">Nachname </label>
    <input type="text" name="last_name" id="last_name" class="input" required />
    <label for="email">e-Mail </label>
    <input type="email" name="email" id="email" class="input" />
    <button type="submit">Senden</button>
  </form>
</div>
