<div class="spielgruppe-wrapper">
  <div class="grid-container">
    <div class="grid-header">
      <a routerLink="/"> <app-header [isSpielgruppe]="true"></app-header></a>
    </div>

    <div class="grid-logo">
      <div class="grid-logo-left"></div>
      <div class="grid-logo-spielgruppen">
        <a routerLink="/">
          <app-spielgruppe-icon
            [hideTypeFont]="false"
            [isModuleIcon]="true"
          ></app-spielgruppe-icon
        ></a>
      </div>
      <div class="grid-logo-right"></div>
    </div>

    <div class="grid-body-left"></div>
    <div class="grid-body">
      <router-outlet></router-outlet>
      <p *ngIf="home">Die Naturspielgruppe Tribschenhorn ist Mitglied bei SSLV</p>
    </div>
    <div class="grid-body-right"></div>

    <div class="grid-footer">
      <div class="grid-footer-left"></div>
      <div class="grid-icon-back">
        <div *ngIf="!home else homeFooter">
          <a href="javascript:void(0)" (click)="back()">
            <app-back-icon [isSpielgruppe]="true"></app-back-icon>
          </a>
        </div>
        <ng-template #homeFooter>
            <a href="https://sslv.ch">
              <img ngSrc="assets/sslv.png" fill/>
            </a>
        </ng-template>
      </div>
      <div class="grid-footer-right"></div>
    </div>
</div>
