<div class="container">
  <app-swiper></app-swiper>

  <h2>Das Wichtigste in Kürze:</h2>
  <p>
    Spielend handeln, natürlich lernen und gemeinsam Spass haben ist unser Ziel.
    Dabei werden die Kinder optimal auf den Kindergarten vorbereitet. In einer
    kleinen Gruppe erfahren die Kinder ein ganzheitliches Naturerlebnis. Sie
    haben die Möglichkeit, in einer wundervollen Umgebung zu spielen, die Natur
    zu erfahren und sich kreativ gestalterisch auszuleben.
  </p>
  <p><a routerLink="info">Weitere Infos zur Naturspielgruppe</a></p>
  <h3>Für:</h3>
  <p>Kinder zwischen 3 - 5 Jahren.</p>
  <h3>Zeit:</h3>
  <p>8:30 Uhr - 11:30 Uhr.</p>
  <h3>Ort:</h3>
  <p>Rund um den <a [routerLink]="'/ort'">Pavillon Tribschenhorn</a>.</p>
  <h3>Leitung:</h3>
  <p>
    <a routerLink="leitung">Natalie Wieland-Hofer</a>, Hauptleitung (Bei
    genügend Anmeldungen zwei Leiterinnen).
  </p>
  <h3>Preis:</h3>
  <p>CHF 660.- pro Morgen für ein Semester.</p>
  <h3>Anmeldung:</h3>
  <p>
    Die Naturspielgruppe startet am Dienstag 30. August 2022. Bei genügend
    Anmeldungen wird auch noch der Montag angeboten. Die Kinder könnten dann für
    einen oder für zwei Morgen pro Woche angemeldet werden.
  </p>
  <p>
    Das Anmeldeformular finden Sie
    <a href="../assets/Anmeldeformular_Naturspielgruppe.pdf" target="_blank">hier</a>.
  </p>
  <h3>Wichtige Angaben:</h3>
  <p>
    <a href="../assets/AGB_Naturspielgruppe.pdf" target="_blank">Hier</a> finden
    Sie die wichtigen Angaben (AGBs) der Naturspielgruppe.
  </p>
  <h3>Newsletter:</h3>
  Für den Newsletter können Sie sich
  <a
    routerLink="/newsletter"
    >hier</a
  > eintragen.
  <app-contact-form></app-contact-form>
</div>
